/*login and newreg*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto&display=swap');


body {
    padding: 0 10vw;
    font-family: 'Roboto', sans-serif;
    background: white;
}
#hiro > p{
    margin-top: -1em;
    letter-spacing: 0.3em;
}
.headliner{
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    letter-spacing: 0.2em;
}

main {
    background: linear-gradient(45deg, #18223d, #3c4b70);
    color: #DcDcDc;
    text-align: center;
}

#newuser,
#login {
    position: fixed;
    top: 50%;
    left: 50%;
    border: 1px solid white;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3), 0px 5px 20px rgba(0, 0, 0, 0.8);
    background: rgba(255, 255, 255, 0.2);
}

form {
    display: grid;
    padding: 2vw;
    grid-gap: 0.5vw;
}
#diaryholder > form {
    grid-template-rows: 1fr 0.5fr 3fr 0.5fr;
}

.knapp {
    border: 1px solid white;
    margin: 1vw;
    text-align: center;
    padding: 0.2vw;
    background: none;
    color: #DcDcDc;
    font-size: 1em;
    font-family: monospace;
}

.knapp:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
}

input {
    text-align: center;
    padding: 0.2vw;
}


.element{
    padding: 0.2vw 10vw;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    box-sizing: border-box;
}
/**/
